---
slug: creator
---
<section id="creator">

  <h1><%= t('creator.name') %></h1>

  <div id="who-are-you">
    <% t('creator.description').each_with_index do |c, i| %>
      <div class="container <%= i.even? ? "container-img-right" : "container-img-left" %>">
        <%= image_tag data.pages.creator.images[i] unless i.even? %>
        <div class="text">
          <% c.each do |p| %>
            <p><%= p %></p>
          <% end %>
        </div>
        <%= image_tag data.pages.creator.images[i] if i.even? %>
      </div>
    <% end %>
  </div>

  <div class="socials">
    <%= link_to 'facebook', '#', target: '_blank' %>
    <%= link_to 'instagram', '#', target: '_blank' %>
    <%= link_to 'twitter', '#', target: '_blank' %>
  </div>

</section>
