---
slug: creator
---
<section id="creator">

  <h1><%= data.pages.creator.name %></h1>

  <div id="who-are-you">
    <% t('creator.description').each_with_index do |c, i| %>
      <div class="container text-grid <%= i.even? ? "container-img-right" : "container-img-left" %>">
        <%= image_tag data.pages.creator.images[i] unless i.even? %>
        <div class="text">
          <% c.each do |p| %>
            <p><%= p %></p>
          <% end %>
        </div>
        <%= image_tag data.pages.creator.images[i] if i.even? %>
      </div>
    <% end %>
  </div>

  <div class="socials">
    <% data.pages.creator.socials.each do |k, v| %>
      <%= link_to k, v, target: '_blank', class: 'component__cool-link' %>
    <% end %>
  </div>

  <div class="bubbles-container">
    <div class="component__bubble bubble-1 right"></div>
    <div class="component__bubble bubble-2 left"></div>
  </div>

</section>
