---
slug: homepage
---
<section id="homepage">
  <h1><%= t("homepage.h1") %></h1>
  <%= partial 'partials/index/bubble' %>
  <%= partial 'partials/index/concept' %>
  <%= partial 'partials/index/creator' %>
  <%= partial 'partials/index/informations' %>
</section>
