---
slug: order
---
<section id="order">
  <h1><%= t("order-following.h1") %></h1>
  <div id="follow-order-ask">
    <p><%= t("order-following.p") %></p>

    <% form_tag 'http://capsule-admin.herokuapp.com/orders/', id: 'follow-order-form' do %>
      <%= label_tag :id, caption: 'Numéro de commande' %>
      <%= text_field_tag :id, placeholder: 'CAPS####', type: "text" %>
      <%= submit_tag 'Suivre', class: 'btn btn-main' %>
    <% end %>
  </div>

  <div id="follow-order-response" class="hide">
    <h3>Détails de la commande</h3>
    <h4>Nom du client</h4>
    <span data-order data-order-user-name></span>
    <table class="informations">
      <tr>
        <td>
          <h4>Date</h4>
          <span data-order data-order-date></span>
        </td>
        <td>
          <h4>Numéro de commande</h4>
          <span data-order data-order-id></span>
        </td>
      </tr>
      <tr>
        <td>
          <h4>Statut</h4>
          <span data-order data-order-status></span>
        </td>
        <td>
          <h4>Numéro de suivi</h4>
          <a href="#" data-order data-order-tracking-url>
            <span data-order data-order-tracking-number><%= t("order-following.nd") %></span>
          </a>
        </td>
      </tr>
    </table>
    <table class="products">
      <thead>
        <tr>
          <th>Article</th>
          <th>Prix</th>
          <th>Quantité</th>
          <th>Prix total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="component__little-product">
              <img src="#" alt="product-image" data-product="image">
              <span class="name" data-product="name"></span>
            </div>
          </td>
          <td data-product="price" class="price"></td>
          <td data-product="quantity"></td>
          <td data-product="total" class="price"></td>
        </tr>
      </tbody>
    </table>
    <div class="controls">
      <%= link_to 'accueil', '/', class: 'btn btn-main' %>
    </div>
  </div>
</section>
