---
dir:
  - catalog
dynamic:
  enable: true
  data: product
  name: name
  slug: path
---

<section id="product" data-item-id="<%= product.id %>">
  <%= product[locale].name %><br>
  <%= number_to_currency(product.price.eur, :unit => "€") %><br>
  <%= product[locale].description %><br>

  <div class="product-image">
    <% product.image.each_with_index do |(alt, image), i| %>
      <img src="<%= image %>" alt="<%= alt %>" <%= "class = 'select'" if i == 0 %>>
    <% end %>
  </div>

  <% if product.options.colors %>
    <form id="colors" class="option-picker">
      <% product.options.colors.inStocks&.each do |k, color| %>
        <input type="radio" name="color" value="<%= k %>" data-color="<%= color %>" class="component__product-radio">
      <% end %>
      <% product.options.colors.outOfStocks&.each do |k, color| %>
        <input type="radio" name="color" value="<%= k %>" data-color="<%= color %>" class="component__product-radio" disabled>
      <% end %>
    </form>
  <% end %>

  <br>
  <br>
  <br>

  <form class="component__product-how-many quantity-picker">
    <button class="less"></button>
    <span>1</span>
    <button class="more"></button>
  </form>

  <br>
  <br>
  <br>
  <% if product.options.sizes %>
  <form id="sizes" class="option-picker">
    <select name="size" class="component__product-select">
      <option value="" selected disabled><%= t('snipcart.sizes') %></option>
      <% product.options.sizes.inStocks.each do |size| %>
        <option value="<%= size %>"><%= size %></option>
      <% end %>
      <% product.options.sizes.outOfStocks.each do |size| %>
        <option value="<%= size %>" disabled><%= size %></option>
      <% end %>
    </select>
  </form>
  <% end %>
  <%= snipcart_button product, t("snipcart.add_to_cart") %>
</section>
