---
dir:
  - catalog
footer: false
dynamic:
  enable: true
  data: product
  name: name
  slug: path
---

<section id="product" data-item-id="<%= product.id %>">

  <div class="product-image">
    <% product.image.each_with_index do |(alt, image), i| %>
      <%= image_tag image, alt: alt, class: (i == product.image.count / 2 ? 'select' : '') %>
    <% end %>
  </div>

  <div class="product-details">
    <h1><%= product[locale].name %></h1>
    <p><%= product[locale].description %></p>

    <% if product.options.colors %>
      <h2>Couleur</h2>
      <form id="colors" class="option-picker">
        <% product.options.colors.inStocks&.each do |k, color| %>
          <input type="radio" name="color" value="<%= k %>" data-color="<%= color %>" class="component__product-radio">
        <% end %>
        <% product.options.colors.outOfStocks&.each do |k, color| %>
          <input type="radio" name="color" value="<%= k %>" data-color="<%= color %>" class="component__product-radio" disabled>
        <% end %>
      </form>
    <% end %>

    <div class="options">
      <% if product.options.sizes %>
      <form id="sizes" class="option-picker">
        <h2>Taille</h2>
        <select name="size" class="component__product-select">
          <option value="" selected disabled><%= t('snipcart.sizes') %></option>
          <% product.options.sizes.inStocks.each do |size| %>
            <option value="<%= size %>"><%= size %></option>
          <% end %>
          <% product.options.sizes.outOfStocks.each do |size| %>
            <option value="<%= size %>" disabled><%= size %></option>
          <% end %>
        </select>
      </form>
      <% end %>
      <form class="quantity-picker">
        <h2>Qté</h2>
        <div class="component__product-how-many">
          <button class="less"></button>
          <span>1</span>
          <button class="more"></button>
        </div>
      </form>
    </div>

    <span class="price"><%= number_to_currency(product.price.eur, :unit => "€") %></span>
    <%= snipcart_button product, t("snipcart.add_to_cart") %>
  </div>
</section>
