<footer>
  <div class="socials">
    <%= link_to 'facebook', '#', target: '_blank' %>
    <%= link_to 'instagram', '#', target: '_blank' %>
    <%= link_to 'twitter', '#', target: '_blank' %>
  </div>
  <!-- <%= link_translate(:en) %> -->
  <!-- <%= link_translate(:fr) %> -->
</footer>
