<div id="creator">
  <h2><%= data.pages.creator.name %></h2>
  <div class="block creator">
    <%= image_tag "products/sample.png", class: 'below-image' %>
    <div class="details">
      <h3><%= t('homepage.informations.name') %></h3>
      <% t('homepage.informations.description').each do |p| %>
        <p><%= p %></p>
      <% end %>
      <%= link_to t('homepage.informations.button'), t('paths.creator'), class: 'btn btn-outline btn-outline-white' %>
    </div>
  </div>
  <div class="block product">
    <%= image_tag "products/sample.png", class: 'below-image' %>
    <div class="details">
      <h3><%= t('homepage.creator.name') %></h3>
      <% t('homepage.creator.description').each do |p| %>
        <p><%= p %></p>
      <% end %>
      <%= link_to t('homepage.creator.button'), t('paths.catalog'), class: 'btn btn-outline btn-outline-white' %>
    </div>
  </div>
</div>
